nav {
    padding-top: 30px !important;
    .container {
        .navbar-brand {
            font-size: 1.5rem;
            font-weight: 500;
            font-family: 'Junge', serif;
            color: #5773FF !important;
            font-size: 2.5rem;
        }

        .nav-link {
            font-size: 1rem;
            padding: 0;
            margin: 0% 10px;
            font-weight: 400;
            color: #ffffff !important;
            font-size: 1.2rem;
            font-family: 'Junge', serif;
            letter-spacing: 2px;

            &.active {
                color: #5773FF !important;
            }
        }
    }
}