@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap');


body {
     margin: 0%;
     padding: 0%;
     overflow-x: hidden;
     box-sizing: border-box;
     background-color: #191923 !important;
     font-family: 'Anek Latin', sans-serif !important;

     .app {
          margin: 10px;
          background-color: #1e1e28;
          height: 97vh;
          position: relative !important;
     }

     a {
          transition: .3s ease-in;

          &:hover {
               color: #ffc107 !important;
          }
     }

     .btn-warning {
          background: #ffc107 !important;
          border-color: #ffc107 !important;
     }

     .btn {
          box-shadow: none !important;
     }
}