@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif !important;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    overflow: hidden;

    .home {
        height: 100vh;
        background: url('./assets/image/home_img.jfif');
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        width: 100vw;
        overflow: hidden;

        .container {
            .home_text {
                .typewriter {
                    width: fit-content;
                    
                    h1 {
                        font-size: 3rem;
                        width: fit-content;
                        overflow: hidden;
                        border-right: .10em solid #FFFFFF;
                        padding-right: 10px;
                        white-space: nowrap;
                        // margin: 0 auto;
                        // letter-spacing: .12em;
                        animation: 
                          typing 3.5s steps(40, end),
                          blink-caret 1s step-end infinite;
                    }
                }

                h1 {
                    font-size: 3rem;
                }
            }
        }
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FFFFFF; }
  }