@import url('https://fonts.googleapis.com/css2?family=Junge&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Smokum&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #748291; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #748291; 
    border-radius: 10px;
}

body {
    font-family: 'Roboto Flex', sans-serif !important;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
    background-color: #0E141B !important;

      

    // hero 

    .hero {
        position: relative;
        height: 400px;
        background: linear-gradient(184deg, #19222cd9 40%, #7e8c9a46);
        margin: 0%;
        padding: 0%;
        z-index: 1;
        width: 100vw !important;

        .container {
            position: relative;
            bottom: 0%;
            height: 100%;

            .hero_text {
                margin-top: 10%;
                z-index: 1 !important;

                h1 {
                    font-size: 3.3rem;
                    font-weight: 600;
                    font-family: 'Junge', serif;
                    text-transform: uppercase;
                }
            }

            .hero_emote {
                width: 100%;
                position: absolute;
                z-index: -1;
                text-align: right;
                bottom: 10% !important;

                .dot {
                    position: absolute;
                    width: 100%;
                    bottom: 0%;
                    
                    img {
                        width: 35%;
                    }
                }

                .me {
                    width: 18%;
                    margin-right: 50px;
                    animation: bounce 5s linear infinite;
                }
            }
        }

        .wave_svg {
            position: absolute;
            bottom: -1%;
            width: 100%;
            z-index: -1;

            svg {
                fill: #0E141B;
                width: 100%;
            }
        }
    }

    .form-control {
        border-radius: 5px;
        padding: 10px;
        background-color: #748291 !important;
        border-color: #748291 !important;
        color: #FFFFFF !important;
        font-weight: 200 !important;
        box-shadow: none !important;

        &::placeholder {
            color: #d6d5d5;
            font-weight: 200;
            font-size: 1rem;
        }
    }

    .btn {
        border-radius: 2px;
        padding: 10px 20px;
        font-weight: 300;
        background: #5773FF;
        border-color: #5773FF;
    }

    // projects

    .projects {
        padding-top: 5rem;

        .project_box {

            &:hover {
                h1 {
                    color: #5773FF !important;
                }
            }

            h1 {
                font-family: 'Junge', serif;
                font-weight: 600;
                font-size: 1.5rem;
                letter-spacing: 2px;
                transition: .4s ease-in;
            }

        }

        .skill_badge-content {
            margin: 5px !important;
            transition: .2s ease-in;
            padding: 3px 8px;
            background: #748291;
            color: #FFFFFF;
            border-radius: 8px;
            font-weight: 100;
            border: none;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .text-danger {
        color: #FF0A78 !important;
        font-weight: 400;
    }

    footer {
        padding: 30px 0px;
        background: #19222cd9;
        margin-top: 50px;

        .navbar-brand.text-primary {
            font-size: 3rem;
            font-family: 'Junge', serif;
            line-height: 100%;
            color: #5773FF !important;

            div {
                font-size: 1rem;
            }
        }

        .d-flex {
            height: 100%;
            align-items: center;
            width: 100%;
            gap: 1rem;
            flex-direction: row;

            .text-container {
                width: 100%;
            }

            h2 {
                font-weight: 400;
                font-family: 'Junge', serif;
            }

            .text-end {
                a {
                    margin-right: 20px;
                    padding: 10px;
                    font-size: 1.5rem;
                    color: #FFFFFF !important;
                    background: #748291;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .hero {
        .hero_text {
            margin-top: 25% !important;
            z-index: 1 !important;

            h1 {
                font-size: 2.5rem !important;
                font-weight: 600;
                font-family: 'Junge', serif;
                text-transform: uppercase;
            }
        }

        .hero_emote {
            display: none;
        }
    }

    footer {
        .d-flex {
            flex-direction: column !important;

            .text-end {
                text-align: left !important;
            }
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}