@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Smokum&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif !important;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;

    .btn {
        box-shadow: none !important;
        &.btn-primary {
            background: #08BDBA;
            border-color: #08BDBA;
        }
    }

    // hero 

    .hero {
        // padding-top: 5rem;
        display: flex;
        align-items: center;
        height: 100vh;
        box-sizing: border-box;
        margin: 0%;
        padding: 0%;

        .container {
            .row {
                .col-md-6 {
                    .hero_text {
                        h1 {
                            font-family: 'Smokum', cursive;
                            font-size: 5rem;
                        }

                        p {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
}