.hero-container {
     padding-top: 5rem;

     .container {
          position: relative;

          .scroll_down {
               position: absolute !important;
               bottom: 0% !important;
               right: 0% !important;
               border-radius: 0%;
               border-top: 2px solid #222 !important;
               border: 0ch;
               font-size: 2rem;
               z-index: 1;
               transition: .2s ease-in;

               &:hover{
                    color: #fff !important;

                    &::after {
                         height: 100%;
                    }
               }

               &::after {
                    content: '';
                    top: 0%;
                    left: 0%;
                    background: #111;
                    width: 100%;
                    height: 0%;
                    position: absolute;
                    z-index: -1;
                    transition: .2s ease-in;
               }
          }
     }

     .hero_text {
          h1 {
               font-size: 6rem;
               font-weight: 300;
          }

          p {
               width: 50%;
          }
     }

     @media screen and (max-width: 1024px) {
          .hero_text {
               h1 {
                    font-size: 3.3rem;
               }
          }
     }

     @media screen and (max-width: 768px) {
          .hero_text {
               margin-top: 0% !important;

               h1 {
                    font-size: 2.5rem;
               }

               p {
                    width: 100%;
               }
          }

          .scroll_down {
               display: none;
          }
     }

     @media screen and (max-width: 425px) {
          .hero_text {
               margin-top: 50px !important;

               h1 {
                    font-size: 2.2rem;
               }

               .d-flex {
                    flex-direction: column;

                    button {
                         width: 100% !important;
                    }

                    .btn {
                         width: 100%;
                    }

                    .ms-3 {
                         margin-left: 0% !important;
                         margin-top: 20px !important;
                    }
               }
          }
     }
}

@media screen and (max-width: 425px) {
     section {
          padding: 50px 0px !important;
     }
}

.service_container {
     padding: 100px 0px;

     .border{
          transition: .3s ease-in;

          &:hover {
               box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.082);
          }

          @media screen and (max-width: 768px) {
               padding: 20px 15px !important;
          }

          @media screen and (max-width: 425px) {
               margin-bottom: 20px;
          }
     }
}

.projects_container {
     padding: 100px 0px;

     .container {
          h1 {
               font-size: 3.5rem;
               font-weight: 300;
          }

          .projects {
               &:hover {
                    .details {
                         opacity: 1;
                    }
               }

               .details {
                    position: absolute;
                    bottom: 0%;
                    margin: 25px 10px;
                    opacity: 0;
                    transition: .3s ease-in;

                    h2 {
                         width: fit-content;
                         text-transform: uppercase;
                    }

                    div {
                         width: fit-content;
                    }
               }
          }

          @media screen and (max-width: 768px) {
               h1 {
                    font-size: 2.5rem;
               }

               .projects{
                    height: 300px !important;
                    margin-top: 20px !important;
               }
          }

          @media screen and (max-width: 375px) {
               h1 {
                    font-size: 2rem;
               }
          }
     }
}

.contact_container {
     background-color: #111;
     padding: 100px 0px;

     h1 {
          font-size: 3.5rem;
          font-weight: 300;
          text-transform: uppercase;
     }

     .btn-socials {
          border-bottom: 1px solid #fff;
          color: #fff;
          font-size: 1.2rem;
          padding: 10px 15px;
          margin-right: 10px;
          border-radius: 50px;
          transition: .3s ease-in;

          &:hover {
               color: #222 !important;
          }
     }

     .form-control {
          border-bottom: 1px solid gray !important;
          border-radius: 0%;
          background-color: transparent;
          border: 0ch;
          font-size: 1.1rem;
          box-shadow: none !important;
          transition: .3s ease-in;

          &:focus {
               border-color: #fff !important;
          }
     }

     .btn{
          border-radius: 0%;
          padding: 10px 15px;
          border-left: 0ch;
          border-right: 0ch;
          border-top: 0ch;
          background: transparent !important;
          z-index: 1;
          position: relative;
          transition: .3s ease-in;

          &::after {
               content: '';
               position: absolute;
               bottom: 0%;
               left: 0%;
               height: 0;
               width: 100%;
               background: #fff;
               transition: .3s ease-in;
               z-index: -1;
          }

          &:hover::after {
               height: 100%;
          }
     }

     input.btn {
          color: #fff !important;
          box-shadow: none !important;
     }

     @media screen and (max-width: 768px) {
          .row {
               flex-direction: column !important;

               .col-md-4 {
                    width: 100%;
                    margin-bottom: 20px;
               }

               .col-md-8 {
                    width: 100%;

                    .row {
                         .col-md-6 {
                              width: 100%;

                              &:first-child {
                                   margin-bottom: 20px;
                              }
                         }
                    }
               }
          }
     }
}

     .bg-danger {
          background: #cc0000 !important;
     }